<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>formpage</title>
</head>
<body>
<form action="/result"  method="POST">
    name:-<input type="text" name="name"><br><br>
    age:-<input type="number" name="age"><br><br>
    sex:-<input type="text" name="sex"><br><br>
    email:-<input type="email" name="email" ><br><br>
    phone:-<input type="number" name="phone"><br><br>
    sumbit<input type="submit">








</form>
</body>
</html>